<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-ordered-layout/vaadin-vertical-layout.html">
<link rel="import" href="shared-styles.html">

<dom-module id="employee-list">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      vaadin-grid, vaadin-text-field {
        width: 100%;
      }
    </style>

    <iron-ajax
      auto
      url="employees.json"
      handle-as="json"
      last-response="{{_employees}}"></iron-ajax>

    <div class="card">
      <vaadin-vertical-layout>
        <vaadin-text-field placeholder="Search" value="{{_filterValue}}"></vaadin-text-field>

        <vaadin-grid id="grid" class="flex">
          <vaadin-grid-column>
            <template class="header">First name</template>
            <template>[[item.firstName]]</template>
          </vaadin-grid-column>
  
          <vaadin-grid-column>
            <template class="header">Last name</template>
            <template>[[item.lastName]]</template>
          </vaadin-grid-column>
  
          <vaadin-grid-column>
            <template class="header">Email</template>
            <template>[[item.email]]</template>
          </vaadin-grid-column>
        </vaadin-grid>
      </vaadin-vertical-layout>
    </div>

  </template>
  <script>
    class EmployeeList extends Polymer.Element {
      static get is() { return 'employee-list'; }
      static get properties() {
        return {
          _employees: {
            type: Array,
            value: function() {
              return [];
            }
          },

          _filterValue: {
            type: String,
            value: ''
          }
        }
      }
      static get observers() {
        return [
          '_applyFilter(_filterValue, _employees)',
        ];
      }
      _applyFilter(filterValue, employees) {
        if (employees && filterValue) {
          const matchSearch = value => {
            return (value.toLowerCase()).indexOf(filterValue.toLowerCase()) > -1
          }
          
          this.$.grid.items = employees.filter(item => (
            matchSearch(item.firstName) || matchSearch(item.lastName) || matchSearch(item.email) 
          ));
        } else {
          this.$.grid.items = employees;
        }
      }
    }
    window.customElements.define(EmployeeList.is, EmployeeList);
  </script>
</dom-module>
