<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/vaadin-lumo-styles/color.html">
<link rel="import" href="../bower_components/vaadin-lumo-styles/sizing.html">
<link rel="import" href="../bower_components/vaadin-lumo-styles/spacing.html">
<link rel="import" href="../bower_components/vaadin-lumo-styles/style.html">
<link rel="import" href="../bower_components/vaadin-lumo-styles/typography.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style include="lumo-color lumo-typography">
      .card {
        margin: var(--lumo-space-m);
        padding: var(--lumo-space-m);
        border-radius: var(--lumo-border-radius);
        background-color: var(--lumo-base-color);
        box-shadow: var(--lumo-box-shadow-s);
      }
    </style>
  </template>
</dom-module>