<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>employee-sales</title>

    <script src="../bower_components/web-component-tester/browser.js"></script>

    <!-- Import the element to test -->
    <link rel="import" href="../src/employee-sales.html">
  </head>
  <body>
    <test-fixture id="basic">
      <template>
        <employee-sales></employee-sales>
      </template>
    </test-fixture>

    <script>
      suite('employee-sales tests', function() {
        let dataSeries, home;

        setup(function() {
          home = fixture('basic');
          const domRoot = home.shadowRoot;
          dataSeries = domRoot.querySelector('data-series');
        });

        suite('chart', function() {
          test('has data', function() {
            assert.equal(dataSeries.data.length, 6);
          });
        });
      });
    </script>
  </body>
</html>
