<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>employee-list</title>

    <script src="../bower_components/web-component-tester/browser.js"></script>

    <!-- Import the element to test -->
    <link rel="import" href="../src/employee-list.html">
  </head>
  <body>
    <test-fixture id="basic">
      <template>
        <employee-list></employee-list>
      </template>
    </test-fixture>

    <script>
      suite('employee-list tests', () => {
        let home, ajax, searchField, grid;

        setup(() => {
          home = fixture('basic');
          const domRoot = home.shadowRoot;
          ajax = domRoot.querySelector('iron-ajax');
          searchField = domRoot.querySelector('vaadin-text-field');
          grid = domRoot.querySelector('vaadin-grid');
        });

        suite('text-field', () => {
          test('empty initial value', () => {
            assert.equal(searchField.value, '');
          });
        });

        suite('grid', () => {
          setup(done => {
            // Wait for the response if necessary
            if (ajax.lastResponse === undefined) {
              ajax.addEventListener('response', () => done());
            } else {
              done();
            }
          });

          test('has all employees', () => {
            assert.equal(grid.items.length, home._employees.length);
          });

          test('has filtered employees after filter change', () => {
            searchField.value = 'Aiden';
            var uniqueNamesInGrid = grid.items
              .reduce((p, c) => {
                if (p.indexOf(c.firstName) < 0 || p.indexOf(c.lastName) < 0 || p.indexOf(c.email) < 0) {
                  p.push(c.firstName);
                }
                return p;
              }, []);

            assert.isBelow(grid.items.length, home._employees.length);
            assert.sameMembers(uniqueNamesInGrid, [searchField.value]);
          });
        });
      });
    </script>
  </body>
</html>
